img {
  width: 60px;
  height: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 20px;
}

nav {
  text-align: center;
}

a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

a::before{
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: #10ac84;
}

#button{
  display: inline-block;
  background-color: #10ac84;
  height: 60px;
  line-height: 60px;
  padding: 0px 20px ;
  margin-right: 0px;
  box-shadow: 5px 3px 0 #fff;
  transition: transform 600ms linear, background-color 300ms linear;
}

#button:hover{
  transform: scale(1.05);
  color: #000;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.banner{
  width: 100%;
  max-width: 80vw;
  margin: auto;
  height: 100vh;
  background-image: url("../assets/images/banner.jpg");
  background-position: right 0% top 40%;
  background-size: 50% auto;
  background-repeat: no-repeat;
}

.box-info{
  display: inline-flex;
  margin-top: 100px;
  margin-left: 50px;
  width: 627px;
  height: 184px;
  background-color: #3A4042;
  box-shadow: 10px 10px 0 #000;
}

.box-info{
  display: grid;
  align-content: center;
}

.box-info h1{
  display: block;
  margin: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  color: #5AE4A8;
  filter: drop-shadow(4px 4px 0px #000000);
  margin-bottom: 20px;
}

.box-info h3{
  display: block;
  margin: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #fff;
  filter: drop-shadow(4px 4px 0px #000000);
}