.button{
    display: inline-block;
    background-color: #10ac84;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px ;
    margin-right: 0px;
    box-shadow: 5px 3px 0 #fff;
    transition: transform 600ms linear, background-color 100ms linear;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .button:hover{
    transform: scale(1.05);
    background: linear-gradient(-45deg, #222F3E, #3A4042, #10ac84, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }  