.card-project{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img_logo:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 2px #999);
}

