.main-skills{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    align-items: center;
    color: #fff;
    display: flex;
    /* margin-bottom: 40px; */
}

.main-skills .icon{
    margin-right: 25px;
    width: 90px;
    height: auto;
}

.main-skills .title{
    margin-bottom: 10px;
}

.main-skills .right{
    display: flex;
    flex-direction: column;
}