.progress-bar {
    box-sizing: border-box;
    border: 5px solid #000;
    height: 30px;
    width: 300px;
}

.progress-bar::-moz-progress-bar {
    background-color: #fff;
}

::-webkit-progress-bar {
    background-color: #fff;
}

::-webkit-progress-value{
    background-color: #5AE4A8;
}