.progress-bar {
    box-sizing: border-box;
    border: 5px solid #000;
    height: 30px;
    width: 300px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: #008000;
}